@forward '../styleguide/styleguide';

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 16px;
    color: #2F9EC7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
    &--styleguide{
        display: inline-block;
        align-items: center;
        
        font-size: 24px;
}
}
