/* this enables the usage of all variables and mixins from the general folder */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #A8BAAC;
  font-size: 24px;
}

p {
  text-align: center;
}

.titlestyle {
  text-align: center;
}

.menu {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
}

.menu__link:hover, .menu__link.--active {
  color: #ad1f1f;
  font-weight: bold;
  top: 0;
  left: 0;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ffff;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}

.color {
  height: 100px;
  width: 100%;
  padding: 10px;
}

.--background {
  background-color: #2F9EC7;
}

.--secondary {
  background-color: #0978A1;
}

.--buttons {
  background-color: #FFFFFF;
}

.--popup {
  background-color: #797C81;
}

.fonts {
  text-align: center;
}

.--title {
  font-size: 36px;
  font-family: "Rubik", sans-serif;
}

.--body {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}