@use '../styles/general/colors' as *; /* this enables the usage of all variables and mixins from the general folder */
@use '../styles/general/fonts' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #A8BAAC;
  font-size: 24px;
  
}

p {
  text-align: center;
}

.titlestyle {
  text-align: center;
 
  
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: rgb(14 14 14);
  text-decoration: none;
}
.menu__link:hover, .menu__link.--active {
  color: rgb(173 31 31);
  font-weight: bold;
  top: 0;
  left: 0;
}


.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ffff;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}


.color {
  height: 100px;
  width: 100%;
  padding: 10px;
}

.--background {
  background-color: #2F9EC7;
}

.--secondary {
  background-color: #0978A1;
}

.--buttons {
  background-color: #FFFFFF;
}

.--popup {
  background-color: #797C81;
}

.fonts {
  text-align: center;
}

.--title {
font-size: 36px;
font-family: 'Rubik', sans-serif;
}

.--body {
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}