// @import 'general/colors';
// @use '../../../styles/general/fonts' as *;
@use '../../general' as *;

.menu__container{
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);  
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    transition: ease-out 0.2s;
    position: relative;
    left: -500px;
    z-index: 9;
  }
  
  
.navbar{
  position: absolute;
  width: 100vw;
  left: 0;
  
    &__logo{
      max-width: 171px;
    }
  
    &__weather{
      max-width: 40px;
    }
}
  
.nav__list{
  list-style: none;
  position: relative;
  top: 70px;
  left: 10px;
}
  
.nav__item a{
    text-decoration: none;
    color: white;
    font-family:'Rubik', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}
  
.nav__item{
  padding-bottom: 30px;
  max-width: 325px;
  margin-right: 0;
}
  
.nav__item.log{
  margin-top: 225px;
}
    
ul {
    margin: 0;
}
  
.line {
    width: 30px;
    margin-bottom: 5px;
    height: 4px;
    background-color: white;
    transition: all 0.8s;
    position: absolute;
    z-index: 10;
    border-radius: 20px;
    transition: all 0.8s;
}
  
.line-1{
    top: 20px;
    left: 20px;
}
  
.line-2{
  top: 27px;
  left: 20px;
}
  
.line-3{
  top: 34px;
  left: 20px;
}
  
.active .line-1 {
  transform: rotateZ(-45deg) translate(-6px, 8px);
  background-color: white;
}
  
.active .line-2 {
  opacity: 0;
  background-color: white;
}
  
.active .line-3 {
  transform: rotateZ(45deg) translate(-2px, -4px);
  background-color: white;
}
  
.active{
  transition: ease-in 0.3s;
  left: 0;
}
  
.delay{
  opacity: 1;
}