@use '../../general' as *;

.connected {
    &-title {
        position: relative;
        top: 8rem;
    }

    &-sign{
        position: relative;
        top: 15rem;
        left: 11%;
        width: 80%;
}
}

