html, body, section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .splash{

    &__logo{
        left: 15%;
        height: 50%;
        width: 50%;
        position: relative;
        background-color: #ffffff;
        border-radius: 25%;
        justify-content: center;
        display: inline-block;

        
    }
    
    &__one {
        background-color: #0978A1;
    }
      
    &__two {
        background-color: #2F9EC7;
    }
    &__one{
        position: absolute;
        top: 0;
        z-index: 1;
        animation: slide 1.2s ease-in;
    }
  }
 
 
  
  @-webkit-keyframes slide {
    0% {
      top: 0%;
      opacity: 1;
    }
    90% {
      top: 100%;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 1;
    }
  }
  
  @keyframes slide {
    0% {
      top: 0%;
      opacity: 1;
    }
    90% {
      top: 100%;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 1;
    }
  }