html, body, section{
    height:100%;
    width:100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  section{
    background-color:#0978A1;
    color:#fff;
  }
  
  #two{
    background-color:#2F9EC7;
  }
  
  #one.curtain, #two.curtain{
    position:absolute;
    top:0;
    z-index:1;
    animation: slide 1.5s ease-in;
  }
  
  @keyframes slide {
      0% {
          top: 0%;
          opacity: 1;
      } 
      
      90% {
          top: 100%;
          opacity: 1;
      }

      100% {
        top: 100%;
        opacity: 1;
    }
  }