body {
    background-image: url('../../../assets/frosty_baggrund.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

a{
    color: #2F9EC7;
    text-decoration: none;
}
.popup-permission{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    &--text {
        size:24px;
        color: #797C81;
    }
}
.container-permission {
    position: relative;
    background-color: white;
    border-radius: 30px;
    line-height: 1.5;
    top: 25%;
    left: 11%;
    width: 80%;
     
}
.top{
    border-top: solid 2px #797C81;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
    
}
.container {
    display: flex;
    flex-direction: column;
    &-button{
        display: flex;
        flex-direction: column;
        justify-content:center;
        
        
    }
  }
  
  
