body {
    
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

a{
    color: #2F9EC7;
    text-decoration: none;
}
.popup-permission{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    &--text {
        size:24px;
        color: #797C81;
    }
}
.container-permission {
    position: relative;
    background-color: white;
    border-radius: 30px;
    line-height: 1.5;
    top: 25%;
    left: 11%;
    width: 80%;
     
}
.top{
    border-top: solid 2px #797C81;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
    
}
.container {
    display: flex;
    flex-direction: column;
    &-button{
        display: flex;
        flex-direction: column;
        justify-content:center;
        
        
    }
  }
  
  
