body {
    background-image: url('../../../assets/frosty_baggrund.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-permission {
    background-color: white;
    border-radius: 24px 0 24px 0;
    size:10px;
}

.container {
    display: flex;
    flex-direction: column;
    &-button{
        display: flex;
        flex-direction: column;
        justify-content:center;
        border-top: 5px solid #797C81;
        margin-top: 5px;
        
    }
  }
  
  
