/* this enables the usage of all variables and mixins from the general folder */
.button {
  background-color: #ffffff;
  border: none;
  border-radius: 25%;
  color: #2F9EC7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button__one {
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
}