/* this enables the usage of all variables and mixins from the general folder */
.button {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  color: #2F9EC7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button--one {
  padding: 1em 2em;
  font-size: 24px;
}
.button--two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70%;
  width: 50%;
  padding: 1em 2em;
  font-size: 24px;
}
.button--three {
  margin-top: 4rem;
}
.button--four {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30rem;
  width: 50%;
  padding: 1em 2em;
  font-size: 24px;
}

.activate {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  width: 60%;
}
.activate--field {
  background-color: #ffffff;
  border: none;
  border-radius: 40%;
  width: 2rem;
  height: 2.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}