.pakkeboks-title {
  position: relative;
  top: 15rem;
}
.pakkeboks-sign {
  position: relative;
  height: auto;
}

.pakkeboks-sign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80%;
  width: 50%;
}