
.pakkeboks{
  height: auto;

    &--title {
      position: relative;
      top: 5rem;
    }

    &--sign{
      position: relative;
    
}   
}

.pakkeboks--sign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13rem;
  width: 50%;
}

