.pakkeboks {
  height: auto;
}
.pakkeboks--title {
  position: relative;
  top: 5rem;
}
.pakkeboks--sign {
  position: relative;
}

.pakkeboks--sign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13rem;
  width: 50%;
}