@use '../../general' as *;

h1, a, p{
    color: white;
    font-family:$font_title;
    text-align: center;
}

.title{
    font-size: 2em;
    margin-top: 1em;
}

.location{
    height: 90%;
    width: 90%;
    justify-content: center;
    display: grid;
    
        &--img{
            height:40vh;
            width: 50vw;
            border-radius: 25px;
            align-self: center;
            justify-self: center;
        }
        &--text{
            font-size: 1.5em;
            margin:1em;
            
        }
        &--button{
            position: relative;
            align-self: center;
            justify-self: center;
                           
        }
        &--link{
            justify-self: end;
            align-self:center;
        }
        &--back{
            height: auto;
            width: 2em;
        }

}

